.navbar-brand{
    color:white;
    margin-left: 250px;

}
.navbar-nav a >.nav-link-active{
    color:white;
}
#navbarNavAltMarkup{
    color: white;
}
.first-ex{
    border: solid 2px black;
    border-radius: 30px;
    height: 400px;
}